---

---

<header>
  <a href="/" aria-label="LandmarkIRL homepage" id="logo">LandmarkIRL</a>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "https://davidumoru.me/";
  });
</script>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xl);
    width: 100%;
    position: relative;
  }

  #logo {
    font-size: var(--step-1);
    font-weight: 800;
    text-decoration: none;
    color: var(--text);
  }
</style>
